html,body{
    margin:0;
    padding:0;
    font-family: helvetica;
}

.characters {
    width:70vw;
    padding-top:100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns:  1fr;
    grid-gap: 20px 5px;
    grid-auto-rows: minmax(20vh, auto);
    grid-template-areas: 
        "a"
        "b"
        "c"
        "d"
        "e"
        "f"
        ;
}


/*GESTION DES IMAGES*/


.character{
    border:1px solid grey;
     overflow:hidden;
}



.chef-child:hover::before,
.butters-child:hover::before,
.cartman-child:hover::before,
.kenny-child:hover::before,
.kyle-child:hover::before,
.stan-child:hover::before{
content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(52, 73, 94, 0.75);
}


.chef-child{
    display: block;
    width:100%;
    height:100%;
    background: url(../images/chef.jpg) center no-repeat;
    background-size:contain;
    transition:0.5s ease;
    grid-area: a; 
}

.chef:hover .chef-child{
    transform: scale(1.1);
    opacity:0.8;
}

.chef-child:hover::after{
    content:"Le chef";
    position: relative;
    display: block;
    text-align:center;
    margin: 0 auto;
    transform: translateY(-50%);
    top: 50%;
    width:30%;
    min-width: 200px;
    border: 1px #aaaaaa solid;
    border-radius: 10px;
    padding: 12px;
    color: white;
    font-size: 14px;
    z-index: 1;
}



.butters-child{
    width:100%;
    height:100%;
    background: url(../images/butters.png) center no-repeat;
    background-size:contain;
    transition:0.5s ease;
    grid-area: b; 
}

.butters:hover .butters-child{
    transform: scale(1.1);
    opacity:0.8;
}

.butters-child:hover::after{
    content:"Butters";
    position: relative;
    display: block;
    text-align:center;
    margin: 0 auto;
    transform: translateY(-50%);
    top: 50%;
    width:30%;
    min-width: 200px;
    border: 1px #aaaaaa solid;
    border-radius: 10px;
    padding: 12px;
    color: #ffffff;
    font-size: 14px;
    z-index: 1;
}



.cartman-child{
    width: 100%;
    height:100%;
     background: url(../images/cartman.jpg) center no-repeat;
     background-size:contain;
    transition:0.5s ease;
    
    grid-area: c;
}

.cartman:hover .cartman-child{
    transform: scale(1.1);
    opacity:0.8;
}

.cartman-child:hover::after{
    content:"Cartman";
    position: relative;
    display: block;
    text-align:center;
    margin: 0 auto;
    transform: translateY(-50%);
    top: 50%;
    width:30%;
    min-width: 200px;
    border: 1px #aaaaaa solid;
    border-radius: 10px;
    padding: 12px;
    color: white;
    font-size: 14px;
    z-index: 1;
}

.kenny-child{
    width: 100%;
    height:100%;
     background: url(../images/kenny.png) center no-repeat;
     background-size:contain;
    transition:0.5s ease;
    
    grid-area: d;
}

.kenny:hover .kenny-child{
    transform: scale(1.1);
    opacity:0.8;
}

.kenny-child:hover::after{
    content:"Kenny";
    position: relative;
    display: block;
    text-align:center;
    margin: 0 auto;
    transform: translateY(-50%);
    top: 50%;
    width:30%;
    min-width: 200px;
    border: 1px #aaaaaa solid;
    border-radius: 10px;
    padding: 12px;
    color: white;
    font-size: 14px;
    z-index: 1;
}

.kyle-child{
    width: 100%;
    height:100%;
     background: url(../images/kyle.png) center no-repeat;
     background-size:contain;
    transition:0.5s ease;
   
    grid-area: e; 
}

.kyle:hover .kyle-child{
    transform: scale(1.1);
    opacity:0.8;
}

.kyle-child:hover::after{
    content:"Kyle";
   position: relative;
    display: block;
    text-align:center;
    margin: 0 auto;
    transform: translateY(-50%);
    top: 50%;
    width:30%;
    min-width: 200px;
    border: 1px #aaaaaa solid;
    border-radius: 10px;
    padding: 12px;
    color: white;
    font-size: 14px;
    z-index: 1;
}

.stan-child{
    width: 100%;
    height:100%;
     background: url(../images/stan.png) center no-repeat;
     background-size:contain;
    transition:0.5s ease;
    
    grid-area: f; 
}

.stan:hover .stan-child{
    transform: scale(1.1);
    opacity:0.8;
}

.stan-child:hover::after{
    content:"Stan";
    position: relative;
    display: block;
    text-align:center;
    margin: 0 auto;
    transform: translateY(-50%);
    top: 50%;
    width:30%;
    min-width: 200px;
    border: 1px #aaaaaa solid;
    border-radius: 10px;
    padding: 12px;
    color: white;
    font-size: 14px;
    z-index: 1;
}

/* FIN GESTION IMAGES */

@media screen and (min-width: 360px){
    .characters {
    width:70vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns:  repeat(1, 1fr);
    grid-template-areas: 
        "a"
        "b"
        "c"
        "d"
        "e"
        "f"
        ;
}
}


@media (min-width: 768px){
  .characters {
    width:70vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    grid-auto-rows: minmax(20vh, auto);
}
    .chef{
        grid-column: 2;
        grid-row: 1 ;
    }
    .butters { 
        grid-column: 3;
        grid-row: 1 / 2;
    }
    .cartman {
        grid-column: 0 / 2;
        grid-row: 2 ;
    }
    .kenny {
        grid-column: 3;
        grid-row: 2;
    }
    .kyle {
        grid-column: 2 / ;
        grid-row: 3;
    }
    .stan {
        grid-column: 3;
        grid-row: 3;
        }
}

@media (min-width: 980px) {
    .characters {
    width:70vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    grid-auto-rows: minmax(20vh, auto);
    }
    .chef{
        grid-column: 1 / 3;
        grid-row: 1 ;
        animation:slide-chef 3s 9s ease forwards
    }
    
     @keyframes slide-chef {
  from {
    transform:translateX(0%)
  }

  to {
    transform:translateX(51%)
  }
}
    
    .butters { 
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        animation:slide-kenny 3s 6s ease forwards
    }
    
    .cartman {
        grid-column: 1;
        grid-row: 2 / 4;
        animation:slide-cartman 3s 12s ease forwards;
    }
    
       @keyframes slide-cartman {
  from {
    transform:translateY(0%)
  }

  to {
    transform:translateY(-52.5%)
  }
}
    
    .kenny {
        grid-column: 3;
        grid-row: 2;
        animation:slide-kenny 3s 3s ease forwards;
    }
    
    @keyframes slide-kenny {
  from {
    transform:translateY(0%)
  }

  to {
    transform:translateY(110%)
  }
}
    .kyle {
        grid-column: 2 / ;
        grid-row: 2;
        
    }
    
    @keyframes slide-kyle {
  from {
    transform:translateX(0%)
  }

  to {
    transform:translateX(102.5%)
  }
}
    .stan {
        grid-column: 3;
        grid-row: 3;
        animation:slide-stan 3s ease forwards;
        }
        @keyframes slide-stan {
  from {
    transform:translateX(0%)
  }

  to {
    transform:translateX(-102%)
  }
}
    
    
}


@media (min-width: 1280px){
    .characters {
        width:70vw;
        margin: 0 auto;
        display: grid;
        grid-template-columns:  repeat(3, 1fr);
        grid-auto-rows: minmax(20vh, auto);
    }
    
    .chef{
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        animation-play-state:paused;
    }
    .butters { 
        grid-column: 2 / 4;
        grid-row: 1 / 3;
        animation-play-state:paused;
    }
    .cartman {
        grid-column: 1;
        grid-row: 3 / 5;
        animation-play-state:paused;
    }
    .kenny {
        grid-column: 3;
        grid-row: 3;
        animation:slide-kenny 15s infinite forwards;
    }
    
    @keyframes slide-kenny {
  from {
    transform:translate(0,0)
  }
            
        8.33%{
    transform:translate(0,0)
        }
        
        16.66%{
    transform:translate(0,0)
        }
        
         25%{
    transform:translate(0,110%)
        }
        
        33.33%{    
    transform:translate(0,110%)
        }
            
        41.99%{    
     transform:translate(0,110%)
        }
            
        50%{    
     transform:translate(-101.5%,110%)
        }
            
        58.33%{    
    transform:translate(-101.5%,110%)
        }
            
        66.66%{    
    transform:translate(-101.5%,110%)
        }
            
        75%{    
    transform:translate(-101.5%,0)
        }
            
        83.33%{    
    transform:translate(-101.5%,0)
        }
            
        91.66%{    
    transform:translate(-101.5%,0)
        }
    

  to {
    transform:translate(0,0)
  }
}
    
    .kyle {
        grid-column: 2;
        grid-row: 4;
        animation:slide-kyle 15s infinite forwards;
    }
    
        @keyframes slide-kyle {
  from {
    transform:translate(0,0)
  }
            
        8.33%{
    transform:translate(0,-110%)
        }
        
        16.66%{
    transform:translate(0,-110%)
        }
        
         25%{
    transform:translate(0,-110%)
        }
        
        33.33%{    
    transform:translate(101.5%,-110%)
        }
            
        41.99%{    
     transform:translate(101.5%,-110%)
        }
            
        50%{    
     transform:translate(101.5%,-110%)
        }
            
        58.33%{    
    transform:translate(101.5%,0)
        }
            
        66.66%{    
    transform:translate(101.5%,0)
        }
            
        75%{    
    transform:translate(101.5%,0)
        }
            
        83.33%{    
    transform:translate(0,0)
        }
            
        91.66%{    
    transform:translate(0,0)
        }
    

  to {
    transform:translate(0,0)
  }
}
    
    .stan {
        grid-column: 3;
        grid-row: 4;
        animation:slide-stan 15s infinite forwards;
        }
    
    @keyframes slide-stan {
from {
    transform:translate(0,0)
  }
            
        8.33%{
    transform:translate(0,0)
        }
        
        16.66%{
    transform:translate(-101.5%,0)
        }
        
         25%{
    transform:translate(-101.5%,0)
        }
        
        33.33%{    
    transform:translate(-101.5%,0%)
        }
            
        41.99%{    
     transform:translate(-101.5%,-110%)
        }
            
        50%{    
     transform:translate(-101.5%,-110%)
        }
            
        58.33%{    
    transform:translate(-101.5,-110%)
        }
            
        66.66%{    
    transform:translate(0,-110%)
        }
            
        75%{    
    transform:translate(0,-110%)
        }
            
        83.33%{    
    transform:translate(0,-110%)
        }
            
        91.66%{    
    transform:translate(0,0)
        }
    

  to {
    transform:translate(0,0)
  }
}
}